* {
    margin: 0;
}

body {
    height: 100vh;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.535);
}

::-webkit-scrollbar-thumb {
    height: 100px;
    background: rgb(16, 115, 235);
    border-radius: 6px;
}
#navbar {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(51, 24, 226);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation-name: naventrada;
    animation-duration: 2s;
}

@keyframes naventrada {
    0% {
        height: 0px;
    }

    100% {
        height: 50px;
    }
}

.nav-cont a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    animation-name: linksentrada;
    animation-duration: 4s;
}

.nav-cont a:hover {
    border-bottom: 3px solid #fff;
}

@keyframes linksentrada {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

#welcome-section {
    padding-top: 10vh;
    background-color: #000;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    font-family: 'Kanit', sans-serif;
    color: rgba(255, 255, 255, 0.652);
    
    font-size: 90px;
    text-shadow: 0px 0px 20px rgba(9, 9, 228, 0.727),
    0px 0px 20px rgba(9, 9, 228, 0.727),
    0px 0px 20px rgba(9, 9, 228, 0.727);
    animation-name: h1entrada;
    animation-duration: 4s;
}

@keyframes h1entrada {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#welcome-section p {
    color: rgba(255, 255, 255, 0.737);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 20px rgba(9, 9, 228, 0.950),
    0px 0px 20px rgba(9, 9, 228, 0.950),
    0px 0px 20px rgba(9, 9, 228, 0.950);
    animation-name: descentrada;
    animation-duration: 7s;
}

@keyframes descentrada {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#projects {
    background-color: #000;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects span {
    color: rgba(255, 255, 255, 0.583);
    font-size: 24px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255),
    0px 0px 20px rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

#projects span:nth-child(3) {
    padding: 50px 0px 0px 0px;
}

.project-tile {
    margin: 0px auto;
    width: 80vw;
    background-color: rgba(0, 0, 255, 0.185);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.project-tile img {
    width: 150px;
    margin: 5px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

a h4 {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}

a h4:visited {
    color: #000;
}
.project-tile a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#about {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about span {
    color: rgba(255, 255, 255, 0.583);
    font-size: 24px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255),
    0px 0px 20px rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.skills p {
    color: rgba(255, 255, 255, 0.737);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.conocimientos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.skills-iconos{
    font-size: 200px;
    color: rgba(255, 255, 255, 0.665);
    margin: 50px;
    transition: color 0.5s ease;
}

.fa-html5:hover {
    color: rgb(252, 73, 11);
}

.fa-css3-alt:hover {
    color: rgb(34, 153, 248);
}


#contactame {
    background-color: rgb(19, 9, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactame span {
    color: rgba(255, 255, 255, 0.583);
    font-size: 24px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255),
    0px 0px 20px rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.contacto h2 {
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.iconos-contactame {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 24px;
}

.iconos-contactame a {
    color: #fff;
    padding: 10px;
    text-shadow: 2px 3px 2px  #000;
    transform: scale(1);
    transition: transform 0.75s ease;
    font-family: 'Source Sans Pro', sans-serif;
}

.iconos-contactame i {
    color: #fff;
}

.iconos-contactame a:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    #navbar {
        justify-content: center;
    }

    .nav-cont a {
        padding-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .nav-cont a {
        font-size: 15px;
        padding-bottom: 13px;
    }
}

@media (max-width: 300px) {
    #navbar {
        height: 150px;
    }

    .nav-cont a {
        
        display: grid;
        text-align: center;
        padding: 15px 100vw;
    }

    @keyframes naventrada {
        0% {
            height: 0px;
        }
    
        100% {
            height: 150px;
        }
    }

    #welcome-section h1 {
        font-size: 60px;
    }

    #welcome-section p{
        font-size: 10px;
    }

    #projects span {
        font-size: 18px;
    }

    #about span {
        font-size: 18px;
    }

    #projects span {
        font-size: 18px;
    }

    #contactame span {
        font-size: 18px;
    }

    .project-tile a {
        flex-direction: column;
    }

    .project-tile img {
        width: 100px;
    }

    .skills-iconos {
        font-size: 150px;
    }

    @media (max-width: 230px) {
        body{
            overflow-x: hidden;
        }

        #welcome-section h1 {
            font-size: 30px;
        }

        #welcome-section p{
            font-size: 7px;
        }

        .skills-iconos {
            font-size: 100px;
        }
    }

    #projects span {
        font-size: 14px;
    }

    #about span {
        font-size: 14px;
    }

    #projects span {
        font-size: 14px;
    }

    #contactame span {
        font-size: 14px;
    }

    .contacto h2 {
        font-size: 17px;
    }
}
